    <h1 class="h3">Buttons</h1>
<div>
    <div class="row">
        <div class="col-md-6">
            <h4 class="">Button 选项</h4>
            <div>
                <button class="btn btn-default"> Default</button>
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-success">Success</button>
                <button class="btn btn-info">Info</button>
                <button class="btn btn-warning">Warning</button>
                <button class="btn btn-danger">Danger</button>
                <button class="btn btn-dark">Dark</button>
                <button class="btn btn-default disabled">Disabled</button>
            </div>

            <h4 class="">
                Button 插件

            </h4>
            <p>
                <button class="btn btn-sm btn-primary btn-addon" ><i class="glyphicon glyphicon-plus"></i>Primary</button>
                <button class="btn btn-sm btn-info btn-addon"><i class="glyphicon glyphicon-trash"></i>Info</button>
                <button class="btn btn-sm btn-success btn-addon"><i class="glyphicon glyphicon-minus pull-right"></i>Success</button>
                <button class="btn btn-sm btn-warning btn-addon"><i class="glyphicon  glyphicon-adjust"></i>Warning</button>
                <button class="btn btn-sm btn-default btn-addon"><i class="glyphicon glyphicon-plus"></i>Default</button>
            </p>
            <p>
                <button class="btn btn-default btn-addon"><i class="glyphicon glyphicon-music"></i>Default</button>
                <button class="btn btn-info btn-addon"><i class="glyphicon glyphicon-play-circle"></i>Info</button>
            </p>

            <h4 class="m-t">Button 尺寸</h4>
            <p>
                <button class="btn btn-default btn-lg">Large</button>
                <button class="btn btn-primary btn-lg btn-addon"><i class="glyphicon glyphicon-plus"></i>Addon</button>
            </p>
            <p>
                <button class="btn btn-default">Default button</button>
            </p>
            <p>
                <button class="btn btn-default btn-sm">Small button</button>
            </p>
            <p>
                <button class="btn btn-default btn-xs">Extra small button</button>
            </p>

            <h4 class="">Button 下拉</h4>
            <p class="text-muted">单个下拉button</p>

            <p class="">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </p>
            <p class="">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </p>
            <p class="">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </p>
            <p class="text-muted">分离 button 下拉 & 变化 </p>
            <div class="">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Action</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-default">Dropup</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>

            <h4 class="">Button 包含 图标</h4>
            <p>
                <button class="btn btn-default"><i class="glyphicon  glyphicon-user"></i> user</button>
                <button class="btn btn-info"><i class="glyphicon glyphicon-search"></i> search</button>
            </p>
            <p>
                <button class="btn btn-default btn-lg btn-block"><i class="glyphicon glyphicon-tasks pull-right"></i> Block button with icon</button>
            </p>
            <p>
                <button class="btn btn-default btn-block"><i class="glyphicon glyphicon-tasks pull-left"></i> Block button with icon</button>
            </p>
            <h4 class="">
                Button 图标
            </h4>
            <p>
                <button class="btn btn-sm btn-icon btn-info"><i class="glyphicon  glyphicon-shopping-cart"></i></button>
                <button class="btn btn-sm btn-icon btn-danger"><i class="glyphicon glyphicon-comment"></i></button>
            </p>
            <h4 class="">
                Button 圆形 图标
            </h4>
            <p>
                <button class="btn btn-rounded btn-sm btn-icon btn-default"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                <button class="btn btn-rounded btn btn-icon btn-default"><i class="glyphicon glyphicon-comment"></i></button>
                <button class="btn btn-rounded btn-lg btn-icon btn-default"><i class="glyphicon glyphicon-camera"></i></button>
            </p>
        </div>
        <div class="col-md-6">
            <h4 class="">椭圆 button</h4>
            <div>
                <button class="btn btn-default btn-rounded">Default</button>
                <button class="btn btn-primary btn-rounded">Primary</button>
                <button class="btn btn-success btn-rounded">Success</button>
                <button class="btn btn-info btn-rounded">Info</button>
                <button class="btn btn-warning btn-rounded">Warning</button>
                <button class="btn btn-danger btn-rounded">Danger</button>
                <button class="btn btn-dark btn-rounded">Dark</button>
                <button class="btn btn-default btn-rounded disabled">Disabled</button>
            </div>

            <h4 class="">Button 组</h4>
            <div class="">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Left</button>
                    <button type="button" class="btn btn-default">Middle</button>
                    <button type="button" class="btn btn-default">Right</button>
                </div>
            </div>
            <p class="text-muted">垂直 button 组</p>
            <div class="btn-group-vertical ">
                <button type="button" class="btn btn-default">Top</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Bottom</button>
            </div>
            <p class="text-muted">嵌套 button 组</p>
            <div class="btn-group ">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-success">2</button>
                <button type="button" class="btn btn-default">3</button>
                <div class="btn-group dropdown" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href>Dropdown link</a></li>
                        <li><a href>Dropdown link</a></li>
                        <li><a href>Dropdown link</a></li>
                    </ul>
                </div>
            </div>
            <p class="text-muted">拉伸 button 组</p>
            <div class="">
                <div class="btn-group btn-group-justified">
                    <a href class="btn btn-primary">Left</a>
                    <a href class="btn btn-info">Middle</a>
                    <a href class="btn btn-success">Right</a>
                </div>
            </div>
            <p class="text-muted">倍数 button 组</p>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">1</button>
                    <button type="button" class="btn btn-default active">2</button>
                    <button type="button" class="btn btn-default">3</button>
                    <button type="button" class="btn btn-default">4</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">5</button>
                    <button type="button" class="btn btn-default">6</button>
                    <button type="button" class="btn btn-default">7</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">8</button>
                </div>
            </div>

            <h4 class="">Button components</h4>
            <p class="text-muted">
                <span>There are a few easy ways to quickly get started with Bootstrap, each one ...</span>
                <span class="text-muted hide" id="moreless"> appealing to a different skill level and use case. Read through to see what suits your particular needs.</span>
            </p>
            <p>
                <button class="btn btn-sm btn-default" ui-toggle-class="show" target="#moreless">
                    <i class="glyphicon glyphicon-plus text"></i>
                    <span class="text">More</span>
                    <i class="glyphicon glyphicon-minus text-active"></i>
                    <span class="text-active">Less</span>
                </button>
            </p>
            <p>
                <style>
                    .text-active, .active > .text, .active > .auto .text {
                        display: none !important;
                    }
                    .active > .text-active, .active > .auto .text-active {
                        display: inline-block !important;
                    }
                </style>
                <button class="btn btn-default" ui-toggle-class="btn-success">
                    <i class="glyphicon  glyphicon-cloud-upload text"></i>
                    <span class="text">Upload</span>
                    <i class="glyphicon glyphicon-ok text-active"></i>
                    <span class="text-active">Success</span>
                </button>
                <a class="btn btn-default" ui-toggle-class="button">
                    <i class="glyphicon glyphicon-heart-empty text"></i>
                    <i class="glyphicon glyphicon-heart text-active text-danger"></i>
                </a>
                <a class="btn btn-default" ui-toggle-class="button">
          <span class="text">
            <i class="glyphicon glyphicon-thumbs-up text-success"></i> 25
          </span>
          <span class="text-active">
            <i class="glyphicon glyphicon-thumbs-down text-danger"></i> 10
          </span>
                </a>
                <button class="btn btn-success" ui-toggle-class="show inline" target="#spin">
                    <span class="text">Save</span>
                    <span class="text-active">Saving...</span>
                </button>
                <i class="fa fa-spin fa-spinner hide" id="spin"></i>
            </p>
            <p class="">
                <div class="btn-group" ng-init="radioModel = 'Male'">
                    <label class="btn btn-sm btn-info"    ng-model="radioModel" uib-btn-radio="'Male'"><i class="glyphicon glyphicon-ok text-active"></i> Male</label>
                    <label class="btn btn-sm btn-success" ng-model="radioModel" uib-btn-radio="'Female'"><i class="glyphicon glyphicon-ok text-active"></i> Female</label>
                    <label class="btn btn-sm btn-primary" ng-model="radioModel" uib-btn-radio="'N/A'"><i class="glyphicon glyphicon-ok text-active"></i> N/A</label>
                </div>
            </p>

            <p class="">
                <div class="btn-group" ng-init="checkModel = {option1: true, option2: false}">
                    <label class="btn btn-sm btn-default" ng-model="checkModel.option1" uib-btn-checkbox>Option1</label>
                    <label class="btn btn-sm btn-default" ng-model="checkModel.option3" uib-btn-checkbox>Option2</label>
                </div>
            </p>

            <h4 class="">
                <button class="pull-right text-sm btn btn-xs btn-default" ui-toggle-class="btn-rounded" target="#social-buttons button">Toggle</button>
                Social buttons
            </h4>
            <p id="social-buttons">
                <button class="btn btn-rounded btn-sm btn-info"><i class="glyphicon glyphicon-shopping-cart fa-twitter"></i> Twitter</button>
                <button class="btn btn-rounded btn-sm btn-danger"><i class="glyphicon glyphicon-comment fa-google-plus"></i> Google+</button>
            </p>
        </div>
    </div>
</div>