
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".left-nav">
            <span class="sr-only">菜单</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="main">测试Logo</a>
       <i class="navbar-brand glyphicon glyphicon-indent-left" ng-click="asideFolded=!asideFolded"></i>
    </div>
    <ul class="nav navbar-top-links navbar-left" >
        <li><a>基本操作</a></li>
        <li><a>健康档案</a></li>
        <li><a>疾病管理</a></li>
        <li><a>人群管理</a></li>
        <li><a>健康教育</a></li>
        <li><a>监督协管</a></li>
        <li><a>信息统计</a></li>
        <li><a>系统设置breadcrumb </a></li>
    </ul>

    <ul class="nav navbar-top-links navbar-right" style="background-color: #f8f8f8;">
        <li><a ui-fullscreen></a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                <span class="glyphicon glyphicon-user"></span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="">
                        <div>
                            <strong>新消息</strong>
									<span class="pull-right text-muted">
                                    <em>2016年3月14日17:27:03</em>
                                </span>
                        </div>
                        <div>新消息，你有新的关注用户。</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="">
                        <div>
                            <strong>提示</strong>
									<span class="pull-right text-muted">
                                    <em>2016年3月14日17:27:03</em>
                                </span>
                        </div>
                        <div>您的账户余额不足，请及时充值。</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="">
                        <div>
                            <strong>大优惠</strong>
									<span class="pull-right text-muted">
                                    <em>2016年3月14日17:27:03</em>
                                </span>
                        </div>
                        <div>今日商城大特惠，点击查看</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="">
                        <strong>没有更多的了</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li><a href=""><span class="glyphicon glyphicon-comment"></span></a></li>
        <li><a href=""><span class="glyphicon  glyphicon-bell"></span></a></li>
        <li><a href=""><span class="glyphicon glyphicon-flag"></span></a></li>
    </ul>
</nav>

<script type="text/javascript">
//    $(function () { //使用bootstrap popover 弹出框  必须初始化 popover 弹出框
//        $('[data-toggle="popover"]').popover()
//    });
</script>